/* Incluye la fuente Dancing Script desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html, body {
    overflow-x: hidden; /* Elimina el scroll horizontal en todo el sitio */
    margin: 0; /* Asegura que no haya márgenes que causen desbordamiento */
}

.container, .row {
    margin: 0 auto; /* Centra y ajusta los márgenes */
    max-width: 100%; /* Asegura que los elementos no excedan el ancho */
    padding: 0 15px; /* Ajusta el padding para evitar espacios en blanco */
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important; /* Cambia el color del texto a blanco */
}

.navbar-dark .navbar-brand {
    color: #ffffff !important; /* Cambia el color del nombre a blanco */
}

.van-image {
    height: 40px; /* Ajusta el tamaño según lo que mejor se vea */
    width: auto;
    max-width: 100%;
}

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}

.bg-turquoise {
    background-color: #4bc0ba; /* Color turquesa */
}

.bg-orange{
    background-color: #FF860D;
}

.card{
    border: none;
}

.line-turquoise {
    width: 80%;
    height: 4px;
    background-color: #40E0D0; /* Color turquesa */
    margin: 0 auto;
}

.card-title {
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-width{
    max-width: 600px !important;
    width: 100%;
}

/* Asegura que las tarjetas tengan la misma altura */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Esto hace que la tarjeta ocupe todo el espacio disponible */
}

/* Asegura que el cuerpo de la tarjeta ocupe todo el espacio disponible */
.card-body {
    flex-grow: 1; /* Hace que el contenido crezca para ocupar el espacio */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* El contenido de la tarjeta se distribuye uniformemente */
}

/* Asegura que los botones estén alineados al final de las tarjetas */
.card-body .btn {
    margin-top: auto; /* Esto empuja el botón al final del contenido de la tarjeta */
}

.me-3 {
    margin-right: 15px;
}

#home .texto-avanzando {
    max-width: 100%; /* Asegura que la imagen no se desborde fuera de su contenedor */
    height: auto;
}

.text-turquoise {
    color: #4bc0ba; /* Color turquesa */
}

/* Hero Section con Imagen */
.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    
}

.hero .container {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

.combi-portada{
    max-width: 100%;
    max-height: 250px;
}

/* Botón naranjo centrado */
.btn-orange-portada {
    background-color: #FF860D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 60%;  /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    font-size: 1rem;
    text-align: center;
}


.hero h1 {
    font-family: 'Dancing Script', cursive; /* Fuente manuscrita para títulos */
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-family: Arial, sans-serif; /* Arial para los párrafos */
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn-turquoise {
    background-color: #4bc0ba; /* Color base actualizado */
    border-color: #4bc0ba; /* Color base actualizado */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Arial para los botones */
}

.text-turquoise {
    color: #4bc0ba; /* Color base actualizado */
}

.border-turquoise {
    border: 2px solid #4bc0ba; /* Color base actualizado */
}

.btn-turquoise {
    background-color: #4bc0ba !important; /* Color base actualizado */
    color: #fff !important;
    border: none;
    box-shadow: none; /* Elimina cualquier sombra */
    transition: none !important; /* Elimina todas las transiciones */
}

.btn-orange{
    background-color: #FF860D;
    color: #fff !important;
    border: none;
    box-shadow: none; /* Elimina cualquier sombra */
    transition: none !important; /* Elimina todas las transiciones */
}

.btn-turquoise:hover,
.btn-turquoise:focus,
.btn-turquoise:active {
    background-color: #4bc0ba !important; /* Color base actualizado */
    color: #fff !important;
    outline: none;
    box-shadow: none; /* Elimina sombras adicionales */
}

.custom-container {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 20px;
}

.pablo-image {
    width: 45%;
    max-width: 450px;
    margin: 0 auto;
    display: block;
    transform: translateY(-30px); /* Ajusta el valor para subir la imagen */

}

.text-container {
    flex-grow: 1;
    padding-left: 20px; /* Espacio para los textos */
}

.combi-logo {
    width: 500px;
    height: 266px;
    margin-right: 10px;
}
small{
    font-family: Arial, sans-serif;
    font-size: 8px;
}

/* Ajuste de espaciado para desktop */
.custom-spacing p {
    margin-right: 10px; /* Espacio entre el texto y el botón en desktop */
}

.img-slogan{
    width: 100%;
    max-width: 100px;
}
@media (max-width: 1024px) {
    .custom-container {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .pablo-image {
        margin: 0 auto !important;
        display: block !important;
    }

    .custom-spacing {
        flex-direction: column; /* Botón debajo del texto */
        gap: 10px; /* Espaciado entre texto y botón */
    }

    .combi-portada{
        max-width: 100%;
        max-height: 150px;
    }

    .btn-orange-portada{
        top: 89%;
    }
}
/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero .container {
        bottom: 10px;
        left: 10px;
        padding: 5px;
    }

    .pablo-image {
        transform: translateY(0px);
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .text-container{
        padding-left: 0;
    }

    .text-container p {
        margin: 0 10px; /* Añade márgenes laterales */
        word-break: break-word; /* Permite que las palabras largas se dividan */
        text-align: justify;
    }

    .navbar-toggler {
        position: absolute;
        right: 10px; /* Asegura que el botón esté siempre a la derecha */
        top: 10px; /* Ajusta la altura si es necesario */
        z-index: 1; /* Asegura que esté por encima de otros elementos */
    }

    .btn-turquoise {
        padding: 5px 10px; /* Ajusta el relleno del botón */
        font-size: 0.6rem; /* Reduce el tamaño de la fuente */
        width: auto; /* Asegura que el botón se ajuste a su contenido */
    }

    .btn-orange-portada {
        font-size: 0.7rem;
        top: 86%;
    }
    
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .text-container p {
        padding: 0 15px; /* Añade padding lateral en móviles */
    }

    .combi-portada {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
    }

    .img-mobile {
        width: 110vw !important; /* Ocupará todo el ancho disponible de la pantalla */
        height: 100vh; /* Ocupará toda la altura de la pantalla */
        object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin perder proporciones */
        display: block;
    }
    
    
}
